In [12]:
import pandas as pd
import sqlite3

In [13]:
conn = sqlite3.connect("../db/movielens.db")

In [14]:
movies_path = "../data/movies.dat"
ratings_path = "../data/ratings.dat"
users_path = "../data/users.dat"

In [15]:
movies = pd.read_csv(movies_path, sep="::", engine="python", names=["MovieID", "Title", "Genres"])

# Extract the year from the movies using regex and remove it from the title
movies["Year"] = movies["Title"].str.extract(r"\((\d{4})\)").astype("Int64")
movies["Title"] = movies["Title"].str.replace(r"\s*\(\d{4}\)", "", regex=True)

movies.to_sql("movies", conn, if_exists="replace", index=False)

3883

In [16]:
ratings = pd.read_csv(ratings_path, sep="::", engine="python", names=["UserID", "MovieID", "Rating", "Timestamp"])
ratings.to_sql("ratings", conn, if_exists="replace", index=False)

1000209

In [17]:
users = pd.read_csv(users_path, sep="::", engine="python", names=["UserID", "Gender", "Age", "Occupation", "Zipcode"])
users.to_sql("users", conn, if_exists="replace", index=False)

6040

In [18]:
cursor = conn.cursor()

# Checking if the tables have been saved to the database
cursor.execute("SELECT name from sqlite_master where type='table';")
tables = cursor.fetchall()
print("ðŸ“¦ Tables in the database:")
for table in tables:
    print("-", table[0])

ðŸ“¦ Tables in the database:
- movies
- ratings
- users

In [19]:
conn.close()